/* greek */
@font-face {
    font-family: "Commissioner";
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url("/fonts/comissioner/comissioner.woff2") format("woff2");
    unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF;
}
/* latin */
@font-face {
    font-family: "Commissioner";
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url("/fonts/comissioner/commissioner-latin.woff2") format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body {
    font-size: 1rem;
    font-weight: 385;
    /* font-family: "Roboto Flex", sans-serif !important; */
}

h1 {
    font-size: 1.125rem;
    line-height: 1.75rem;
}

@media (min-width: 768px) {
    h1 {
        font-size: 1.25rem;
        line-height: 1.75rem;
    }
}

@media (min-width: 1024px) {
    h1 {
        font-size: 1.5rem;
        line-height: 2rem;
    }
}

@media (min-width: 1280px) {
    h1 {
        font-size: 1.875rem;
        line-height: 2.25rem;
    }
}

h2 {
    font-size: 1rem;
    line-height: 1.5rem;
}

@media (min-width: 768px) {
    h2 {
        font-size: 1.125rem;
        line-height: 1.75rem;
    }
}

@media (min-width: 1024px) {
    h2 {
        font-size: 1.25rem;
        line-height: 1.75rem;
    }
}

@media (min-width: 1280px) {
    h2 {
        font-size: 1.5rem;
        line-height: 2rem;
    }
}
h3 {
    font-size: 0.75rem;
    line-height: 1.5rem;
    font-weight: 522;
}

@media (min-width: 768px) {
    h3 {
        font-size: 1rem;
        line-height: 1.75rem;
        font-weight: 522;
    }
}

@media (min-width: 1024px) {
    h3 {
        font-size: 1.125rem;
        line-height: 1.75rem;
        font-weight: 522;
    }
}

@media (min-width: 1280px) {
    h3 {
        font-size: 1.25rem;
        line-height: 2rem;
        font-weight: 522;
    }
}
blockquote {
    font-size: 1rem;
}
.min-h-screen {
    min-height: 100vh;
}
[hidden] {
    display: none;
}

.col-span-1 {
    grid-column: span 1 / span 1;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.grid {
    display: grid;
}

.max-w-\[768px\] {
    max-width: 768px;
}
.items-end {
    align-items: flex-end;
}
.gap-4 {
    gap: 1rem;
}

.rounded-lg {
    border-radius: 0.5rem;
}
.rounded-xl {
    border-radius: 0.75rem;
}

.border {
    border-width: 1px;
}

.p-6 {
    padding: 1.5rem;
}

.px-2 {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
.shadow-lg {
    --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

img[id] {
    border-radius: 0.75rem;
    --tw-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
    --tw-shadow-colored: 0 25px 50px -12px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
@media (min-width: 640px) {
    .sm\:grid-cols-2 {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

@media (min-width: 1280px) {
    .xl\:grid-cols-3 {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}

// For rows
.table-striped {
    > tbody > tr:nth-of-type(#{$table-striped-order}) > * {
        --#{$prefix}table-color-type: var(--#{$prefix}table-striped-color);
        --#{$prefix}table-bg-type: var(--#{$prefix}table-striped-bg);
    }
}

// For columns
.table-striped-columns {
    > :not(caption) > tr > :nth-child(#{$table-striped-columns-order}) {
        --#{$prefix}table-color-type: var(--#{$prefix}table-striped-color);
        --#{$prefix}table-bg-type: var(--#{$prefix}table-striped-bg);
    }
}
